#hero {
    background: url(../images/hero-bg.jpg) no-repeat center center fixed;
    background-size: cover;
    top: 0;
}

.nav-item.active{
    text-align:center;
    padding-bottom:5px;
    background: /* gradient can be an image */
      linear-gradient(
        to right, 
        white 0%,
        white 30%,
        black 47%,
        black 100%
      )
      left 
      bottom
      no-repeat; 
    background-size:100% 1px ;/* if linear-gradient, we need to resize it */
    height: 40px;
}


.button-reservation:hover {
    background-color: black !important;
}

.section-titre {
    font-size: 50px;
    color: white;
    text-align: center;
}

.rotated-image {
    animation: rotation 8s infinite linear;
}

.paper {
    transition: 1s;
}

.paper:hover {
    transition: 1s;
    transform: scale(1.08);
}

.social-icon {
    transition: 1s;
}

.social-icon:hover {
    transition: 1s;
    transform: scale(1.5);

}

.sc-linkedin:hover{
    background-color: #0075B5 !important;
}

.sc-facebook:hover{
    background-color: #1778F2 !important;
}

.sc-github:hover{
    background-color: #444 !important;
}

.voir-plus:hover{
    background-color: #fff !important;
    border: 1px solid #fff !important;
    color: black;
}

*:focus {
    outline: none;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}