@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');


@font-face {
  font-family: 'circular';
  src: local('circular'), url(../fonts/CircularStdBold/CircularStdBold.woff) format('Woff');
}


body {
  margin: 0;
  font-family: "circular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
