@mixin white-gradient {
	// background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.slider {
	background: white;
	// margin: auto;
	// margin-top: 20px;
	overflow:hidden;
	width: 100%;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}

	.slide-track-stopped {
		display: flex;
		width: calc(250px * 14);
	}
	
	// .slide {
	// 	width: 250px;
	// 	margin-left: 15px;
	// }
}

.card-menu {
	border: 1px solid #99999940 !important;
	box-shadow: none !important;
	border-radius: 8px !important;
}

.play-pause:hover {
	color: #111 !important
}